﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="795" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/SimpleWithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" /><title></title>
    </head>
    <body>
        <h1>Entity-Related Operations</h1>
        <h2>General Command Line Options</h2>
        <p>The vaultclient command line can include the following options:</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" class="TableStyle-SimpleWithPadding" cellspacing="0">
            <col class="TableStyle-SimpleWithPadding-Column-Column1" style="width: 152px;" />
            <col class="TableStyle-SimpleWithPadding-Column-Column2" style="width: 186px;" />
            <col class="TableStyle-SimpleWithPadding-Column-Column3" style="width: 305px;" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">Option</th>
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column2-Header1">Argument</th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column3-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">--cafile</td>
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column2-Body1">&lt;certificate-authority-path&gt;</td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column3-Body1">Specifies the path to the certificate authority file (recommended in particular for self-signed certificates)</td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">--https</td>
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column2-Body1">—</td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column3-Body1">Enables the HTTPS protocol for vaultclient commands</td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">--noCaVerification</td>
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column2-Body1">—</td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column3-Body1">Disables SSL certificate validation</td>
                </tr>
            </tbody>
        </table>
        <p>&#160;</p>
        <h2>Account Routes</h2>
        <h3>Create Account</h3>
        <p>Creates a new account.</p>
        <h4>Request Syntax</h4>
        <p class="codeparatext_lastline">POST /account</p>
        <p class="codeparatext">Body: {</p>
        <p class="codeparatext_indent">name: '{{accountName}}',</p>
        <p class="codeparatext_indent">emailAddress: '{{accountEmailAddress}}',</p>
        <p class="codeparatext_indent">saltedPasswd: '{{accountPassword}}'</p>
        <p class="codeparatext">}</p>
        <h4>Response Syntax (Success)</h4>
        <p class="codeparatext">{</p>
        <p class="codeparatext_indent">"message": {</p>
        <p class="codeparatext_indent_indent">"code": 201,</p>
        <p class="codeparatext_indent_indent">"message": "Created",</p>
        <p class="codeparatext_indent_indent">"body": {</p>
        <p class="codeparatext_indent_indent_indent">"arn": "{{accountArn}}",</p>
        <p class="codeparatext_indent_indent_indent">"id": "{{accountIdentifier}}",</p>
        <p class="codeparatext_indent_indent_indent">"canonicalId": "{{accountCanonicalIdentifier}}"</p>
        <p class="codeparatext_indent_indent">}</p>
        <p class="codeparatext_indent">}</p>
        <p class="codeparatext_lastline">}</p>
        <h4>Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 50pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 101pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>409</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>EntityAlreadyExists</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p>500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p>ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Delete Account</h3>
        <p class="NormalWeb">Deletes an account.</p>
        <h4>Request Syntax</h4>
        <p class="codeparatext_lastline">DELETE /account/{accountName}</p>
        <h4>Response Syntax (Success)</h4>
        <p class="codeparatext">{</p>
        <p class="codeparatext_indent">"message": {</p>
        <p class="codeparatext_indent_indent">"code": 204,</p>
        <p class="codeparatext_indent_indent">"message": "No Content",</p>
        <p class="codeparatext_indent_indent">"content": "none"</p>
        <p class="codeparatext_indent">}</p>
        <p class="codeparatext_lastline">}</p>
        <h4>Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 77pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>EntityDoesNotExist</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p>500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p>ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>List Accounts</h3>
        <p class="NormalWeb">List all accounts.</p>
        <h4>Request Syntax </h4>
        <p class="codeparatext_lastline">GET /accounts</p>
        <p class="codeparatext">Body: {</p>
        <p class="codeparatext_indent">[Optional] marker: '{{markerForEnsuingPagination}}',</p>
        <p class="codeparatext_indent">maxItems: '{{maximumNumberItemsToBeReturned (number)}}'</p>
        <p class="codeparatext">}</p>
        <h4>Response Syntax (Success) </h4>
        <p class="codeparatext">{</p>
        <p class="codeparatext_indent">"message": {</p>
        <p class="codeparatext_indent_indent">"code": 200,</p>
        <p class="codeparatext_indent_indent">"message": "Search successful",</p>
        <p class="codeparatext_indent_indent">"body": {</p>
        <p class="codeparatext_indent_indent_indent">"isTruncated": "{{false | true}}",</p>
        <p class="codeparatext_indent_indent_indent">"accounts": "{{accountsInfo (array)}}",</p>
        <p class="codeparatext_indent_indent_indent">[Optional] "marker": "{{markerForEnsuingPagination}}"</p>
        <p class="codeparatext_indent_indent">}</p>
        <p class="codeparatext_indent">}</p>
        <p class="codeparatext_lastline">}</p>
        <h4>Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 77pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p>500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p>ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 MadCap:conditions="">User Routes</h2>
        <h3 MadCap:conditions="">Create User</h3>
        <p class="NormalWeb" MadCap:conditions="">Creates a new user.</p>
        <h4 MadCap:conditions="">Request Syntax</h4>
        <p class="codeparatext_lastline" MadCap:conditions="">POST /user</p>
        <p class="codeparatext" MadCap:conditions="">Body: {</p>
        <p class="codeparatext_indent" MadCap:conditions="">accountName: '{{accountName}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">name: '{{userName}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">emailAddress: '{{userEmailAddress}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">saltedPasswd: '{{userPassword}}'</p>
        <p class="codeparatext" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Response Syntax (Success) </h4>
        <p class="codeparatext" MadCap:conditions="">{</p>
        <p class="codeparatext_indent" MadCap:conditions="">"message": {</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"code": 201,</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"message": "Created",</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"body": {</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"arn": "{{userArn}}",</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"id": "{{userIdentifier}}",</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"name": "{{userName}}",</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"createDate": "{{timestamp (time ISO 8601)}}"</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">}</p>
        <p class="codeparatext_indent" MadCap:conditions="">}</p>
        <p class="codeparatext_lastline" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 101pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2" MadCap:conditions="">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1" MadCap:conditions="">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p MadCap:conditions="">400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p MadCap:conditions="">WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p MadCap:conditions="">404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p MadCap:conditions="">EntityDoesNotExist</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p MadCap:conditions="">409</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p MadCap:conditions="">EntityAlreadyExists</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p MadCap:conditions="">500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p MadCap:conditions="">ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:conditions="">Delete User</h3>
        <p class="NormalWeb" MadCap:conditions="">Deletes a user.</p>
        <h4 MadCap:conditions="">Request Syntax</h4>
        <p class="codeparatext_lastline" MadCap:conditions="">DELETE /account/{{accountName}}/user/{{userName}}</p>
        <h4 MadCap:conditions="">Response Syntax (Success) </h4>
        <p class="codeparatext" MadCap:conditions="">{</p>
        <p class="codeparatext_indent" MadCap:conditions="">"message": {</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"code": 204,</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"message": "No Content",</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"content": none</p>
        <p class="codeparatext_indent" MadCap:conditions="">}</p>
        <p class="codeparatext_lastline" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 74pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2" MadCap:conditions="">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1" MadCap:conditions="">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p MadCap:conditions="">400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p MadCap:conditions="">WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p MadCap:conditions="">404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p MadCap:conditions="">EntityDoesNotExist</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p MadCap:conditions="">500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p MadCap:conditions="">ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:conditions="">List Account Users</h3>
        <p class="NormalWeb" MadCap:conditions="">List users of an account given by parameter 'name'.</p>
        <h4 MadCap:conditions="">Request Syntax</h4>
        <p class="codeparatext_lastline" MadCap:conditions="">GET /users</p>
        <p class="codeparatext" MadCap:conditions="">Body: {</p>
        <p class="codeparatext_indent" MadCap:conditions="">name: '{{accountName}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">[Optional] marker: '{{markerForEnsuingPagination}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">maxItems: '{{number maximumNumberItemsToBeReturned}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">pathPrefix: '{{filter}}'</p>
        <p class="codeparatext" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Response Syntax (Success)</h4>
        <p class="codeparatext" MadCap:conditions="">{</p>
        <p class="codeparatext_indent" MadCap:conditions="">"message": {</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"code": 200,</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"message": "Search successful",</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"body": {</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"isTruncated": "{{false | true}}",</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"accounts": "{{usersInfo (array)}}",</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">[Optional] "marker": "{{markerForEnsuingPagination}}"</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">}</p>
        <p class="codeparatext_indent" MadCap:conditions="">}</p>
        <p class="codeparatext_lastline" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 160pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2" MadCap:conditions="">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1" MadCap:conditions="">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p MadCap:conditions="">404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p MadCap:conditions="">WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p MadCap:conditions="">404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p MadCap:conditions="">EntityDoesNotExist</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p MadCap:conditions="">500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p MadCap:conditions="">ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Access Key Routes</h2>
        <h3>Create Access Key</h3>
        <p class="NormalWeb" MadCap:conditions="">Creates a new AWS access key and corresponding secret key value for the specified user or account.</p>
        <h4>Request Syntax</h4>
        <p class="codeparatext_lastline">POST /accessKey</p>
        <p class="codeparatext">Body: {</p>
        <p class="codeparatext_indent">accountName: '{{accountName}}',,</p>
        <p class="codeparatext_indent" MadCap:conditions="Default.OldGA">[Optional] userName: '{{userName}}'</p>
        <p class="codeparatext">}</p>
        <h4>Response Syntax (Success) </h4>
        <p class="codeparatext">{</p>
        <p class="codeparatext_indent">"message":{</p>
        <p class="codeparatext_indent_indent">"code": 201,</p>
        <p class="codeparatext_indent_indent">"message": "Created",</p>
        <p class="codeparatext_indent_indent">"body": {</p>
        <p class="codeparatext_indent_indent_indent">"accountName": "{{accountName}}",</p>
        <p class="codeparatext_indent_indent_indent">"userName": "{{userName}}",</p>
        <p class="codeparatext_indent_indent_indent">"status": "Active",</p>
        <p class="codeparatext_indent_indent_indent">"createDate": "{{creationDate (date ISO 8601)}}",</p>
        <p class="codeparatext_indent_indent_indent">"id": "{{accessKey (in AWS terms)}}",</p>
        <p class="codeparatext_indent_indent_indent">"value": "{{secretKeyValue (in AWS terms)}}"</p>
        <p class="codeparatext_indent_indent">}</p>
        <p class="codeparatext_indent">}</p>
        <p class="codeparatext">}</p>
        <h4>Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 77pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>EntityDoesNotExist</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p>500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p>ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:conditions="">Delete Access Key</h3>
        <p class="NormalWeb" MadCap:conditions="">Deletes an accessKey.</p>
        <h4 MadCap:conditions="">Request Syntax</h4>
        <p class="codeparatext_lastline" MadCap:conditions="">DELETE /accessKey/{{accessKeyId}}</p>
        <h4 MadCap:conditions="">Response Syntax (Success)</h4>
        <p class="codeparatext" MadCap:conditions="">{</p>
        <p class="codeparatext_indent" MadCap:conditions="">"message":{</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"code": 204,</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"message": "No Content",</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"content": "none"</p>
        <p class="codeparatext_indent" MadCap:conditions="">}</p>
        <p class="codeparatext_lastline" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 74pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>EntityDoesNotExist</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p>500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p>ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:conditions="">List Access Keys</h3>
        <p class="NormalWeb" MadCap:conditions="">List access keys for an account or a user.</p>
        <h4 MadCap:conditions="">Request Syntax</h4>
        <p class="codeparatext" MadCap:conditions="">GET /accessKeys</p>
        <p class="codeparatext" MadCap:conditions="">Body: {</p>
        <p class="codeparatext_indent" MadCap:conditions="">accountName: '{{accountName}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">[Optional] userName: '{{userName}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">[Optional] marker: '{{markerForEnsuingPagination}}',</p>
        <p class="codeparatext_indent" MadCap:conditions="">[Optional] maxItems: '{{number maximumNumberItemsToBeReturned}}'</p>
        <p class="codeparatext" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Response Syntax (Success)</h4>
        <p class="codeparatext" MadCap:conditions="">{</p>
        <p class="codeparatext_indent" MadCap:conditions="">"message":{</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"code": 200,</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"message": "Search successful",</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">"body": {</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"isTruncated": "{{false | true}}",</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">"accessKeyMetadata": "{{accessKeysMetadataInformation}}",</p>
        <p class="codeparatext_indent_indent_indent" MadCap:conditions="">[Optional] "marker": "{{markerForEnsuingPagination}}"</p>
        <p class="codeparatext_indent_indent" MadCap:conditions="">}</p>
        <p class="codeparatext_indent" MadCap:conditions="">}</p>
        <p class="codeparatext" MadCap:conditions="">}</p>
        <h4 MadCap:conditions="">Error Codes</h4>
        <table class="TableStyle-SimpleWithPadding" style="mc-table-style: url('../Resources/TableStyles/SimpleWithPadding.css');" cellspacing="0">
            <col style="width: 27pt;" class="TableStyle-SimpleWithPadding-Column-Column1" />
            <col style="width: 74pt;" class="TableStyle-SimpleWithPadding-Column-Column2" />
            <thead>
                <tr class="TableStyle-SimpleWithPadding-Head-Header1">
                    <th class="TableStyle-SimpleWithPadding-HeadE-Column1-Header1">
                        <p class="p_2">Error Code</p>
                    </th>
                    <th class="TableStyle-SimpleWithPadding-HeadD-Column2-Header1">
                        <p class="p_1">Message</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>400</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>WrongFormat</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyE-Column1-Body1">
                        <p>404</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyD-Column2-Body1">
                        <p>EntityDoesNotExist</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleWithPadding-Body-Body1">
                    <td class="TableStyle-SimpleWithPadding-BodyB-Column1-Body1">
                        <p>500</p>
                    </td>
                    <td class="TableStyle-SimpleWithPadding-BodyA-Column2-Body1">
                        <p>ServiceFailure</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>